.rankings-table-wrapper {
    border: 2px solid #8cff00a2;
    background-color: #0d0a149a;
    padding: 24px;
    overflow: hidden;
    margin-bottom: 56px;
    border-radius: 6px;

}

h1 {
    padding: 20px;
}

input[type=submit] {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

input[type=submit]:hover {
    cursor: pointer;
    background-color: #8cff00a2;
}

.form-group {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 810px) {
    .form-group {
        width: 70%;
    }
}

