.navbar-brand {
	font-weight: bold;
	font-size: 30px !important;
	color: #8cff00;;
	margin-left: 25px;
	text-decoration: none;
	font-family: 'Pacifico', cursive;
}

.horizon {
	color: #fefefe;
	margin-right: 0 !important; 
}

.tennis {
	margin-left: 0 !important;
}

.tennis:hover {
	color: #8cff00 !important;
}

.brand:hover {
	color: #fefefe;
}

.nav-link {
	font-size: 20px;
	color: #fefefe;
}

.nav-link:hover {
	font-size: 20px;
	color: #ccc;
}

.active {
	color: #8cff00 !important;
}

.navbar {
	list-style-type: none;
	margin: 0;
	padding: 8px;
	background-color: #0d0a149a;
	overflow: hidden;
	border-bottom: 2px solid #8cff00a2;

  }

.login-btn {
	border: 2px solid #8cff00;
	color: #8cff00;
	width: 150px;
	height: 55px;
}

.login-btn:hover {
	background-color: #8cff00;
	color: #0d0a14;
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
	color: #fefefece !important;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.switch-buttons {
	margin: 0 auto;
	width: fit-content;
	padding: 2.5%;
}

.content-wrapper {
    border: 2px solid #8cff00a2;
    background-color: #0d0a149a;
    padding: 24px;
    overflow: hidden;
    margin-bottom: 56px;
    border-radius: 6px;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	background-color: #0d0a149a;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 2px solid #8cff00a2;
	width: 90%; /* Could be more or less, depending on screen size */
	height: fit-content;
	border-radius: 5px;
}

/* The Close Button */
.close {
	color: #e0e0e0;
	margin-left: 95%;
	float: right;
	font-size: 32px;
	font-weight: bold;
	width: 20px;
}

.close:hover,
.close:focus {
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}

#login-form div{
	margin-bottom: 16px;
}

#login-form label{
	color: #fefefe;
	float: left;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}

#login-form input{
	width: 100%;
	padding: 12px;
	border: 1px solid #0d0a149a;
	border-radius: 2px;
}

.login-form-btn {
	margin-top: 12px;
	font-family: 'Roboto', sans-serif;
	background-color: #8cff00;
	transition-duration: 300ms;
}

.login-form-btn:hover {
	background-color: #81eb00;
}

.switch-button {
    padding: 16px;
	margin: 16px;
    background-color: #75cc0a;
    border: 1px solid #6bbb09;
    color: #000;
    border-radius: 3px;
    transition-duration: 0.4s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.switch-button:hover {
    background-color: #6bbb09;
}


/*Tablet*/
@media only screen and (min-width: 992px) {

	.nav-item {
		padding: 0px 5px 0px 5px;
		font-size: 17px;
	}
	.navbar-nav {
		margin-right: 20px;
	}
	.login-btn {
		display: block;
		font-size: 15px;
		margin-right: 40px;
	}
	.login-btn:hover {
		background-color: #8cff00;
	}

	.brand {
		margin-left: 100px;
	}

	.navbar-brand {
		font-size: 35px !important;
	}
	.modal-content {
		width: 50%;
		height: fit-content;
	}
}

/*Desktop*/
@media only screen and (min-width: 1400px) {
	.brand {
		font-size: 40px;
	}

	.nav-item {
		padding: 0px 22px 0px 22px;
		font-size: 22px;
	}
	.navbar-nav {
		margin-right: 60px;
	}
	.login-btn {
		font-size: 18px;
		margin-right: 50px;
	}
	.active {
		border-bottom: 2px solid #8cff00;
		border-radius: 2px;
	}
	.modal-content {
		width: 25%;
	}
}
